<div class="mdui-toolbar">
  <span
    class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
    mdui-tooltip="{content: '菜单'}"
    onclick='mdui.$("body").toggleClass("mdui-drawer-body-left");'
    id="toggle-drawer"
    ><i class="mdui-icon material-icons">menu</i></span
  >
  <a
    mdui-tooltip="{content: '返回'}"
    class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white mdui-hidden-sm-up"
    onclick="window.history.back()"
  >
    <i class="mdui-icon material-icons">arrow_back</i>
  </a>
  <a href="<!--base_path-->" class="mdui-typo-headline">
    <!--Sitename-->
  </a>
  <!--PathArrayStart-->
  <i class="mdui-icon material-icons mdui-hidden-xs" style="margin: 0"
    >chevron_right</i
  ><a href="<!--PathArrayLink-->" class="mdui-typo-subheading mdui-hidden-xs">
    <!--PathArrayName--></a
  >
  <!--PathArrayEnd-->
  <div class="mdui-toolbar-spacer"></div>
  <!--AdminStart--><a
    href="javascript:;"
    class="mdui-btn mdui-btn-icon mdui-ripple mdui-hidden-sm-up refresh"
    mdui-tooltip="{content: '刷新缓存'}"
    ><i class="mdui-icon material-icons">refresh</i></a
  >
  <!--AdminEnd-->
</div>
