<!--FileListStart-->
<li
  class="mdui-list-item file mdui-ripple"
  data-sort
  data-sort-name="<!--FileEncodeReplaceName-->"
  data-sort-date="<!--lastModifiedDateTime-->"
  data-sort-size="<!--size-->"
  data-readypreview="<!--FileExt-->"
>
  <div class="mdui-row mdui-col-sm-12">
    <div class="mdui-col-xs-12 mdui-col-sm-7 mdui-text-truncate">
      <a
        class="<!--FileExtType-->"
        data-name="<!--FileEncodeReplaceName-->"
        href="<!--FileEncodeReplaceUrl-->?preview"
        aria-label="File"
      >
        <i class="mdui-icon material-icons"> <!--IconValue--></i>
        <span> <!--FileEncodeReplaceName--></span>
      </a>
    </div>
    <div class="mdui-col-sm-3 mdui-text-right">
      <!--lastModifiedDateTime-->
    </div>
    <div class="mdui-col-sm-2 mdui-text-right">
      <!--size-->
    </div>
  </div>
  <div class="forcedownload mdui-text-right">
    <a
      title="<!--constStr@Download-->"
      aria-label="Download"
      href="<!--FileEncodeReplaceUrl-->"
      target="_blank"
      ><button class="mdui-btn mdui-ripple mdui-btn-icon">
        <i class="mdui-icon material-icons">file_download</i>
      </button></a
    >
  </div>
</li>
<!--FileListEnd-->
