<div class="mdui-drawer mdui-drawer-close" id="main-drawer">
  <div class="mdui-list" mdui-collapse="{accordion: true}">
    @@include('./drawer-list/admin.html')
    <li
      class="mdui-list-item mdui-ripple"
      href="javascript:void(0);"
      onclick="renexmoe.toggle_theme();"
    >
      <a class="mdui-list-item-icon mdui-icon material-icons">brightness_4</a
      ><a class="mdui-list-item-content">深色模式</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
      <a
        href="<!--base_path-->"
        class="mdui-list-item-icon mdui-icon material-icons"
        >home</a
      ><a href="<!--base_path-->" class="mdui-list-item-content">
        <!--constStr@Home--></a
      >
    </li>
    @@include('./drawer-list/disk-list.html')
    <a
      href="https://github.com/qkqpttgf/OneManager-php"
      class="mdui-list-item mdui-ripple"
      ><i class="mdui-list-item-icon mdui-icon material-icons">code</i>
      <div class="mdui-list-item-content">Github</div>
    </a>
    <li
      class="mdui-list-item mdui-ripple"
      href="javascript:void(0);"
      id="about_theme"
    >
      <i class="mdui-list-item-icon mdui-icon material-icons">info</i>
      <div class="mdui-list-item-content">关于该主题</div>
    </li>
  </div>
</div>
